#binary output folder
/bin/

#windows binaries
*.exe

#eclipse
.project
.classpath
/.settings/

#java
*.class
*.jar

#maven
/dependency-reduced-pom.xml
/target/

#other
*.bak

#som code files not in test or sample
*.hrac
*.hras
*.hrav
*.bin
*.cbin
*.png
*.hrbs
*.ab
*.hra

!test/**/*.hrac
!test/**/*.hras
!test/**/*.hrav
!test/**/*.bin
!test/**/*.cbin
!test/**/*.png
!test/**/*.hrbs
!test/**/*.ab
!test/**/*.hra

!sample/**/*.hrac
!sample/**/*.hras
!sample/**/*.hrav
!sample/**/*.bin
!sample/**/*.cbin
!sample/**/*.png
!sample/**/*.hrbs
!sample/**/*.ab
!sample/**/*.hra

!src/**/*.hrac
!src/**/*.hras
!src/**/*.hrav
!src/**/*.bin
!src/**/*.cbin
!src/**/*.png
!src/**/*.hrbs
!src/**/*.ab
!src/**/*.hra